# Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/logs/*
backend/bootstrap/cache/*.php

# Vue
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log


# DEBUG y OTRAS COSAS

# Archivos de debug de Vue
frontend/src/components/achievements/DebugMenu.vue
frontend/src/components/achievements/DebugMenu.dev.vue
frontend/src/components/achievements/DebugMenu.*.vue
frontend/src/components/achievements/*.debug.vue

# Archivos de debug de cualquier lugar
**/DebugMenu.vue
**/*.debug.vue
**/*.debug.js

#worktree
frontend.worktrees/